* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;    
}

body {
    background-color: black;
    color: aliceblue;

}

h1 {
    margin-top: 3px;
    text-align: center;
}
hr{
    border:none;
    height:1px;
    background-color: rgb(34, 34, 34);
}

span{
    font-style: italic;
    color: rgb(219, 145, 219) ;
}
#textDiv {
    text-align: center;
}

#textbox {
    width: 350px;
    padding: 10px;
    margin: 50px;
    border-radius: 5px;
}

li {
    list-style-type: none;
    font-size:20px; 
    display:grid;
    grid-Template-Columns:auto 1250px;
    /* text takes space, button stays small */
    align-Items:center;
    gap:20px;
    /*space between button and text */
    padding:6px;

}

#btn {
    width: 50px;
    height: 40px;
    border-radius: 5px; 
    font-size: 15px;  
}

button[name="delbtn"] {
    padding: 3px;
    margin: 5px 10px;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    font-size: 15px;   
}

.strikethrough {
    text-decoration: line-through;
}